/* src/components/Profile/Profile.css */

.profile {
  display: flex;
  padding: 40px 20px;
  gap: 116px;
  align-items: flex-start;
}

.profile__sidebar {
  flex-shrink: 0;
}

.clothes-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
}

@media (max-width: 1100px) {
  .profile {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
