/* src/components/ItemCard/ItemCard.css */

.cards {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.cards__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 34px 0;
  text-align: left;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px);
  gap: 20px;
  justify-content: start;
  width: 100%;
  padding: 0;
  list-style: none;
}

.card {
  cursor: pointer;
  position: relative;
  width: 323px;
  height: 326px;
  background-color: #e0e0e0;
border-radius: 12px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}

.card__name {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  background-color: #ffffff;
  opacity: 0.7;
  padding: 2px 12px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  z-index: 2;
  white-space: nowrap;
}

.card__image {
  width: 100%;
  height: 328px; 
  object-fit: cover; 
  border-radius: 12px;
  display: block;
}
