/* src/components/WeatherCard/WeatherCard.css */

.weather-card {
  display: flex;
  height: 80px;  
  width: 100%;
  border-radius: 12px;
  margin-top: 30px; 
  position: relative; 
  overflow: hidden; 
}

.weather-card__temp {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1; 
  color: #ffffff; 
  margin: 0;
  position: absolute;
  top: 22px; 
  left: 16px;
  z-index: 1; /
}

.weather-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: right top;
}