/* src/components/App/App.css */

@import url("https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@700&display=swap");

body {
  margin: 0;
  background-color: #5a6f8d;
  min-height: 100vh;
}

.page {
  overflow: hidden;
  width: 100%;
  padding: 0 10px;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #f3f3f3;
}
