/* src/components/Header/Header.css */

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px; /* Reduced padding to match design */
  width: 100%;
  box-sizing: border-box;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  margin-right: auto; 
}

.header__username,
.header__date-and-location,
.header__add-clothes-btn,
.header__link {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
  text-decoration: none;
}

.header__add-clothes-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
 
}

.header__user-container {
  display: flex;
  align-items: center;
  
  gap: 20px; 
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header__link {
  text-decoration: none; 
  color: #000;           
  display: flex;        
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  color: inherit;       
}