/* src/components/ItemModal/ItemModal.css */


.modal__content_type_image {
  background-color: transparent; 
  padding: 0;                  
  min-height: auto;             
  width: fit-content;          
  max-width: 100%;              
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal__image {
  width: 100%;
  max-height: 496px;
  object-fit: cover;
  display: block;
}

.modal__footer {
  background-color: #fff; 
  padding: 20px 20px 32px;
  border-radius: 0 0 20px 20px;
}

.modal__caption {
  margin: 0 0 12px 0;
  font-size: 16px;
  color: #000;
}      

.modal__weather {
  margin: 0;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}