/* src/components/Footer/Footer.css */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0; 
  margin: 0 auto;
  width: 100%;
  max-width: 1360px; 
  font-family: "Cabinet Grotesk", sans-serif;
}

.footer__name,
.footer__year {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #000000;
}